<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Some website</title>
</head>
<body>
<h1>Maintenance</h1>
<p>The site is down. We will be back shortly.</p>

{{> footer }}
</body>
</html>